.vs/
UQFramework/bin/
UQFramework/obj/
UQFramework.Test/bin/
UQFramework.Test/obj/
packages/
UQFrameWork.Demo/obj/
/UQFrameWork.Demo180914.vspx
/UQFrameWork.Demo.psess
/UQFrameWork.Demo/bin/Debug
UQFrameWork.Demo/bin/Release/UQFrameWork.Demo.exe.config
UQFrameWork.Demo/bin/Release/Newtonsoft.Json.xml
*.nupkg
/UQFrameWork.Demo/bin/Release
/UQFramework.Tests/bin/Release/netcoreapp2.2
/UQFramework.Tests/obj/Release/netcoreapp2.2
