<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="uqframework" type="UQFramework.Configuration.UQConfiguration, UQFramework" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <uqframework>
    <!--<h-cache enabled ="true" type="UQFramework.Cache.Providers.TextFileCacheProvider`1, UQFramework">
      <add name="folder" value ="C:\UQFramework.Demo\_Cache"/>
    </h-cache>-->
    <h-cache enabled="true" type="UQFramework.Cache.Providers.SqlCacheProvider`1, UQFramework">
      <add name="connectionstring" value="Data Source=.;Integrated Security=True" />
    </h-cache>
  </uqframework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>