<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="uqframework" type="UQFramework.Configuration.UQConfiguration, UQFramework"/>
  </configSections>
  <uqframework>
    <h-cache enabled ="true" type="UQFramework.Cache.Providers.TextFileCacheProvider`1, UQFramework">
      <add name="folder" value="$(AppData)\UQFramework"/>
    </h-cache>
  </uqframework>
</configuration>